@import "tailwindcss";

@theme inline {
  --color-accredian-blue: #0047FF;
  --color-accredian-dark: #0F172A;
  --color-accredian-light: #F8FAFC;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: white;
    color: #1e293b; /* slate-800 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@keyframes marqueeMoveRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-right {
  display: flex;
  align-items: center;
  width: max-content;
  animation: marqueeMoveRight 20s linear infinite;
}

.animate-marquee-right:hover {
  animation-play-state: paused;
}